doctype html
html
  head
    title= title
    link(rel='stylesheet', href= '/css/estiloIndex.css')
  body

    include includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)

    section
      button.botonEmergencia(type='button' ) Emergencia
      span#tooltip(class="tooltip") Doble Click
      div.formularioPaciente
        h1 Ingrese los datos del paciente a internar 
        form.formularioData(onsubmit="return false;")
            div.contenedorDni
                  label.etiquetaDni(for='dni') DNI:
                  div.dni-buscar
                    input.dni(type='text', name='dni', required=true)
                    button.buscarDni(type='button') Buscar
                  span.error-message(data-field="dni")

            div.contenedorUno
              div
                  label(for='nombre') Nombre:
                  input.nombre(type='text', name='nombre', required=true)
                  span.error-message(data-field="nombre") 
              div
                  label(for='apellido') Apellido:
                  input.apellido(type='text', name='apellido', required=true)
                  span.error-message(data-field="apellido") 

                   

            div.contenedorDos
              div
                  label(for='telefono') Numero Emergencia:
                  input.telefono(type='number', name='telefono', required=true)
                  span.error-message(data-field="telefono") 
              div
                  label(for='natalicio') Fecha de Nacimiento:
                  input.calendar(type='date', name='natalicio', required=true)
                  span.error-message(data-field="calendar") 
              div
                  label(for='sexo') Sexo:
                  select.sexo(name='sexo', required=true)
                      option(value='') Seleccionar...
                      option(value='Masculino') Masculino
                      option(value='Femenino') Femenino
                      option(value='Otro') Otro
                  span.error-message(data-field="sexo" )   
                 

            div.contenedorTres 
              div
                  label(for='direccion') Direccion:
                  input.direccion(type='text', name='direccion', required=true)
                  span.error-message(data-field="direccion") 
              div
                  label(for='correro') Correo Electronico:
                  input.email(type='email', name='correro', required=true)
                  span.error-message(data-field="email")
              div
                  label(for='ciudad') Ciudad:
                  input.ciudad(type='text', name='ciudad', required=true)
                  span.error-message(data-field="ciudad")    

           

            div.contenedorCuatro
              div 
                  label(for='vias') Por que medios ingresa el paciente:
                  select.vias(name='vias', required=true)
                      option(value='') Seleccionar...
                      option(value='Cita Programada') Cita Programada
                      option(value='Derivacion Medica') Derivacion Medica
                      option(value='Emergencia' disabled=true) Emergencia
                  span.error-message(data-field="vias")  

              div.campoMedicoDerivador
                  label(for='medico') Medico Derivador:
                  select.medico(name='medico')
                    option(value='') Seleccionar Medico
                    each medico in medicos 
                      option(value=medico.id_medico)= medico.id_medico + " - "+medico.nombre + " - "+ medico.especialidad  
                  span.error-message(data-field="medico")   
              div 
                  label(for='obraSocial') Obra Social:
                  select.obraSocial( name='obraSocial', required=true)
                      option(value='') Seleccionar...
                      option(value='SwindlerMedical') SwindlerMedical
                      option(value='Osde') Osde
                      option(value='Medife') Medife
                      option(value='No Especifica') No Especifica

                  span.error-message(data-field="obraSocial")
                  
            div.contenedorCinco
              div
                  label(for='numeroObraSocial') Numero Obra Social:
                  input.numeroObraSocial(type='text', name='numeroObraSocial', required=true) 
                  span.error-message(data-field="numeroObraSocial")
            div
              button.botonAbrirModalAsignacion(type='button') Ingresar paciente


      section.modalRegistro 
        div.modal-content
          div.modal-header
            span.spanCerrrarModalAsignacion &times;
            h2 Asignar habitacion/cama segun ala
          div.modal-body
            form(action='/paciente/agregar', method='POST')
              div 
                label(for="ala") Ala:
                select.ala(name='ala')
                  option(value='') Seleccionar ala
                  each ala in alas 
                    option(value=ala.id_ala)= "Codigo ala: "+ala.id_ala+" - "+ ala.nombre
              div 
                label(for="habitacion") Habitacion:
                select#selectHabitacion.habitacion(name='habitacion')
                  option(value='') Se debe seleccionar un ala
              div 
                label(for="cama") Cama:
                select#selectCama.cama(name='cama')
                  option(value='') Se debe seleccionar un ala
          div.modal-footer
            button.botonAbrirConfirmacion(type='button') Asignar cama 

      section.modalConfirmacion 
        div.contenidoConfirmacion
          div.cabeceraModal
            h2 ¿Desea guardar los datos? 
            p Nombre: 
              span#confirmNombre
            p Apellido: 
              span#confirmApellido
            p DNI: 
              span#confirmDni
            p Obra Social: 
              span#confirmObraSocial
            p Numero de Obra Social: 
              span#confirmNumeroObraSocial
            p Numero de Emergencia:
              span#confirmTelefono
            p Ciudad: 
              span#confirmCiudad
            p Calle: 
              span#confirmCalle
            p.descripcion Al presionar "si", el paciente será internado y la cama ocupada.
          div.botonesModal
            button.botonEnviarConfirmacion(type='button', onclick='enviarInformacion()') Si 
            button.botonCerrarConfirmacion(type='button') No

      section.modalExito
        div.contenidoExito
          div.cabeceraExito
            h2 ¡Paciente Ingresado!
          div.cuerpoExito
            p Los datos se enviaron correctamente.
          div.botonesExito
            button.botonCerrarExito(type='button') Cerrar

      section.modalDni
        div.contenidoModalDni
          div.cabeceraModalDni
            h2 No se encontro el DNI:
            span.dni-message(data-field="dni")
          div.cuerpoModalDni
            p Deberá ingresar los datos del paciente de forma manual.
          div.botonesModalDni
            button.botonCerrarModalDni(type='button') Cerrar


    if activarModal
      section.modalCamasAdvertencia
        div.contenidoModalCamasAdvertencia
          div.cabeceraModalCamasAdvertencia
            h2 No hay camas disponibles
            span.cama-message(data-field="cama")
          div.cuerpoModalCamasAdvertencia
            p Consultar con el administrador.
          div.botonesModalCamasAdvertencia
            button.botonCerrarModalCamasAdvertencia(type='button' onclick="irAPacientes()") Ir a lista de pacientes         
     


    script(src='/script/modalRegistro.js')
           
             