doctype html
html
  head
    title= title
    link(rel='stylesheet', href= '/css/estiloIndex.css')
  body

    include includes/navBar.pug

    section
      div.formularioPaciente
        h2 Formulario Paciente 
        form.formularioData(onsubmit="return false;")
            div.contenedorUno
              div
                  label(for='nombre') Nombre:
                  input.nombre(type='text', name='nombre', required=true)
                  span.error-message(data-field="nombre") 
              div
                  label(for='apellido') Apellido:
                  input.apellido(type='text', name='apellido', required=true)
                  span.error-message(data-field="apellido") 

            div.contenedorDos
              div
                  label(for='dni') DNI:
                  input.dni(type='text', name='dni', required=true)
                  span.error-message(data-field="dni") 
              div
                  label(for='telefono') Numero Emergencia:
                  input.telefono(type='number', name='telefono', required=true)
                  span.error-message(data-field="telefono") 

            div.contenedorTres
              div
                  label(for='natalicio') Fecha de Nacimiento:
                  input.calendar(type='date', name='natalicio', required=true)
                  span.error-message(data-field="calendar") 
              div
                  label(for='direccion') Direccion:
                  input.direccion(type='text', name='direccion', required=true)
                  span.error-message(data-field="direccion") 

            div.contenedorCuatro
              div
                  label(for='sexo') Sexo:
                  select.sexo(name='sexo', required=true)
                      option(value='') Seleccionar...
                      option(value='Masculino') Masculino
                      option(value='Femenino') Femenino
                      option(value='Otro') Otro
                  span.error-message(data-field="sexo") 
              div
                  label(for='correro') Correo Electronico:
                  input.email(type='email', name='correro', required=true)
                  span.error-message(data-field="email") 

            div.contenedorCinco
              div 
                  label(for='obraSocial') Obra Social:
                  input.obraSocial(type='text', name='obraSocial', required=true)
                  span.error-message(data-field="obraSocial")

            div
              button.botonAbrirModalAsignacion(type='button') Abrir Modal Asignacion


      section.modalRegistro 
        div.modal-content
          div.modal-header
            span.spanCerrrarModalAsignacion &times;
            h2 Asignar habitacion/cama segun ala
          div.modal-body
            form(action='/paciente/agregar', method='POST')
              div 
                label(for="ala") Ala:
                select.ala(name='ala')
                  each ala in alas 
                    option(value=ala)= ala
              div 
                label(for="habitacion") Habitacion:
                select.habitacion(name='habitacion')
                  each habitacion in habitaciones 
                    option(value=habitacion)= habitacion    
              div 
                label(for="cama") Cama:
                select.cama(name='cama')
                 each cama in camas 
                    option(value=cama)= cama
          div.modal-footer
            button.botonAbrirConfirmacion(type='button') ABRIR CONFIRMACION 

      section.modalConfirmacion 
        div.contenidoConfirmacion
          div.cabeceraModal
            h2 ¿Desea guardar los datos?
          div.botonesModal
            button.botonEnviarConfirmacion(type='button', onclick='enviarInformacion()') Si 
            button.botonCerrarConfirmacion(type='button') No

      section.modalExito
        div.contenidoExito
          div.cabeceraExito
            h2 ¡Éxito!
          div.cuerpoExito
            p Los datos se enviaron correctamente.
          div.botonesExito
            button.botonCerrarExito(type='button') Cerrar      
                


      script(src='/script/modalRegistro.js')
           
             