html
  head
    title Historial
    link(rel="stylesheet", href="/css/estiloEnfermeriaHistorial.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
    
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)
    include ../includes/botonesIzqDer.pug
    +paginado(true,true,"/enfermeria/infoPaciente","/enfermeria/motivoInternacion","Info. paciente", "Motiv. internacion")

    section.info 
      h1.titulo Ingrese DNI del paciente al que asignará los datos
      div.infoBusqueda
        div.dniPaciente
          input.dniBusqueda(type="text" name="dni" placeholder="Buscar DNI...")
          button.buscarDni(type="button") Buscar
        span.error-message(data-field="dni")
    

      div.historial(style="opacity: 0.5; pointer-events: none;")
        h2 Historial Medico 
        h2 Paciente:
        h2.paciente
        form.historialMedico(onsubmit="return false;")    
          label(for="select-alergias") Alergias
          select#select-alergias.select2(name="alergias" multiple style="width: 500px;")
            each alergia in alergias
              option(value=alergia.id_alergia)= alergia.descripcion


          label(for="select-enfermedades") Enfermedades Previas
          select#select-enfermedades.select2(name="enfermedades" multiple style="width: 500px;")
            each enfermedad in enfermedades
              option(value=enfermedad.id_enfermedad)= enfermedad.descripcion


          label(for="select-cirugias") Cirugias Previas
          select#select-cirugias.select2(name="cirugias" multiple style="width: 500px;")
            each cirugia in cirugias
              option(value=cirugia.id_cirugia)= cirugia.descripcion


          label(for="select-antecedentes") Antecedentes Familiares
          select#select-antecedentes.select2(name="antecedentes" multiple style="width: 500px;")
            each antecedente in antecedentes
              option(value=antecedente.id_antecedente)= antecedente.descripcion


          label(for="select-medicamentos") Medicamentos actuales
          select#select-medicamentos.select2(name="medicamentos" multiple style="width: 500px; ")
            each medicamento in medicamentos
              option(value=medicamento.id_medicamento)= medicamento.descripcion

          button#guardarHistorial(type="button") Guardar

    include ../includes/modalExito.pug

    script(src="/script/modalExitoGenerico.js")

    script(src='/script/modificacionHistorial.js')

    script.
      $('.select2').select2({
        placeholder: 'Seleccione una opción...',
        allowClear: true
      });