doctype html
html
  head
    title= "Pacientes"
    link(rel='stylesheet', href= '/css/estiloListaPacientes.css')
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)
    section.tablaPacientes
        h2 Lista de Pacientes Internados
        h3 Total de Pacientes: #{pacientes ? pacientes.length : 0}
        h3 Pacientes Desconocidos: #{pacientes ? pacientes.filter(p => p.es_nn===true).length : 0}
        div
            input(type="text", name="")
            label(for="buscar") Busqueda
       
        h4 Presione el ID del paciente para ver sus datos completos.    
        table
            thead
                tr
                    th ID
                    th Nombre
                    th Apellido
                    th DNI
                    th Numero Emergencia
                    th Fecha de Nacimiento
                    th Sexo
                    th.direccionHead Direccion
                    th.correoHead Correo Electronico
                    th Ciudad
                    th Medio de Ingreso
                    th Medico
                    th Obra Social
                    th Numero Obra Social
                    th Fecha de Ingreso
                    th Cama
                    th Acciones
            tbody
                if pacientes && pacientes.length > 0
                    each paciente in pacientes
                        tr(class= paciente.es_nn==true ? "fila-roja" : "")
                            td(data-field="id")
                                a.linkId(href=`ficha-paciente/${paciente.id}`)= paciente.id
                            td(data-field="nombre")= paciente.nombre
                            td(data-field="apellido")= paciente.apellido
                            td(data-field="dni")= paciente.dni
                            td(data-field="telefono")= paciente.telefono
                            td(data-field="natalicio")= paciente.natalicio
                            td(data-field="sexo")= paciente.sexo
                            td(data-field="direccion" class="direccion")= paciente.direccion
                            td(data-field="correo" class="correo")= paciente.correo
                            td(data-field="ciudad")= paciente.ciudad
                            td(data-field="vias")= paciente.vias
                            td(data-field="medico")= paciente.medico
                            td(data-field="obraSocial")= paciente.obraSocial
                            td(data-field="numeroObraSocial")= paciente.numeroObraSocial
                            td(data-field="fechaIngreso")= paciente.fecha_ingreso
                            td(data-field="cama")= paciente.cama
                            td(data-field="acciones")
                                button.boton-eliminar(type="button", onclick="abrirConfirmacion(this)", data-id=paciente.id) Eliminar
                            

                else
                    tr
                        td(colspan="17") No hay pacientes registrados.

    section.modalConfirmacion 
        div.contenidoConfirmacion
          div.cabeceraModal
            h2 ¿Desea eliminar al paciente internado?
            p ID Paciente: 
                span#idPaciente 
            p.descripcion Al presionar "si", se concidera que el paciente ha sido dado de alta y se eliminará de la lista de pacientes internados.
          div.botonesModal
            button.botonEnviarConfirmacion(type='button', onclick='eliminarPaciente()') Si 
            button.botonCerrarConfirmacion(type='button' onclick='cerrarConfirmacion()') No               


        script(src='/script/actualizarInfoPaciente.js')            

    